.topBar {
  width: 100%;
  height: 3rem;
}

.topBarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.logo {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}

.topRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.topBarIconContainer {
  margin-left: 1rem;
  cursor: pointer;
  color: #555;
}

.topRightMenu {
  position: absolute;
  top: 2rem;
  right: 0;
}
