.button,
.link {
  display: block;
  min-width: 4rem;
  margin: auto;
  line-height: 2.25rem;
  padding: 0 1rem;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: semi-bold;
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
